@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.ttf");
}
.visibleOff {
  visibility: hidden;
}

body {
  background-color: lightgrey;
}
body p {
  margin-bottom: 0;
}
body .header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header .form {
  width: 1250px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  box-shadow: 0px 2px 2px grey;
  padding: 30px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  body .header .form {
    width: 100%;
    height: 20px;
  }
}
body .header .form input:checked {
  background-color: #B01313;
}
body .header .form .form_title {
  color: #B01313;
  margin-right: 40px;
  font-family: "Rubik-Regular";
  font-weight: 600;
}
body .header .form .select {
  width: 170px;
  border-radius: 10px;
  height: 50px;
  padding: 30px 0px;
  background-color: lightgray;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  body .header .form .select {
    width: 100%;
    height: 10px;
  }
}
body .header .form .select .select_selected {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  cursor: pointer;
}
body .header .form .select .select_selected span {
  font-family: "Rubik-Regular";
  margin-right: 10px;
  opacity: 0.5;
}
body .header .form .select .triangulo {
  visibility: hidden;
  position: absolute;
  bottom: 15px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  z-index: 100;
}
body .header .form .select ul {
  visibility: hidden;
  margin: 0px;
  padding: 0;
  box-shadow: 0px -1px 4px grey;
  border-radius: 5px;
  overflow: auto;
  height: 300px;
  top: 45px;
  width: 100%;
  background-color: white;
  position: absolute;
}
body .header .form .select ul:last-child {
  margin-bottom: 20px;
}
body .header .form .select ul::-webkit-scrollbar {
  width: 8px;
}
body .header .form .select ul::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
body .header .form .select ul::-webkit-scrollbar-:horizontal {
  height: 10px;
  background-color: green;
}
body .header .form .select ul li {
  list-style-type: none;
  padding: 15px 0px;
  text-indent: 20px;
  width: 100%;
  cursor: pointer;
}
body .header .form .select ul li:hover {
  background-color: red;
  color: white;
}
body .header .form .form-filter {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
body .header .form .form-filter input {
  margin-right: 10px;
  border-color: grey;
}
body .header .form .form-filter .label-margin {
  margin-bottom: 10px;
}
body .header .form .form-filter .form-filter-option {
  padding: 0px 50px;
  font-family: "Rubik-Light";
}

@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik-SemiBold";
  src: url("../fonts/Rubik-SemiBold.ttf");
}
#carList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
#carList .card_cars {
  width: 1230px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px grey;
}
@media (max-width: 768px) {
  #carList .card_cars {
    width: 100%;
  }
}
#carList .card_cars .card_img {
  width: 350px;
}
@media (max-width: 768px) {
  #carList .card_cars .card_img {
    width: 150px;
  }
}
#carList .card_cars .card_caract {
  margin-top: 60px;
}
#carList .card_cars .card_caract h6 {
  font-family: "Rubik-Medium";
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 2px;
  opacity: 0.4;
}
@media (max-width: 768px) {
  #carList .card_cars .card_caract h6 {
    font-size: 10px;
  }
}
#carList .card_cars .card_caract div {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
#carList .card_cars .card_caract div img {
  width: 15px;
}
#carList .card_cars .card_caract div p {
  margin-left: 10px;
  margin-bottom: 0;
  font-family: "Rubik-Light";
  font-weight: 600;
}
#carList .card_cars .card_titles {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#carList .card_cars .card_titles h4 {
  font-family: "Rubik-Medium";
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #B01313;
}
@media (max-width: 768px) {
  #carList .card_cars .card_titles h4 {
    font-size: 16px;
  }
}
#carList .card_cars .card_titles h6 {
  font-family: "Rubik-Regular";
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  #carList .card_cars .card_titles h6 {
    font-size: 10px;
  }
}
#carList .card_cars .card_button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
#carList .card_cars .card_button button {
  height: 50px;
  width: 150px;
  margin-right: 25px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-family: "Rubik-Regular";
  letter-spacing: 1px;
  font-size: 13px;
}
@media (max-width: 768px) {
  #carList .card_cars .card_button button {
    width: 100px;
    text-align: center;
  }
}
#carList .card_cars .card_button button svg {
  margin-right: 10px;
}
#carList .card_cars .card_button button:hover {
  background-color: black !important;
}
#carList .card_cars .card_rates {
  margin-top: 60px;
  grid-column-start: 2;
  grid-column-end: 4;
}
#carList .card_cars .card_rates h6 {
  font-family: "Rubik-Medium";
  font-weight: 600;
  letter-spacing: 2px;
  opacity: 0.4;
}
@media (max-width: 768px) {
  #carList .card_cars .card_rates h6 {
    font-size: 10px;
  }
}
#carList .card_cars .card_rates .rates {
  box-shadow: 0px 1px 0px lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#carList .card_cars .card_rates .rates div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0px;
}
#carList .card_cars .card_rates .rates div div {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-right: 10px;
}
@media (max-width: 768px) {
  #carList .card_cars .card_rates .rates div div {
    width: 10px;
    height: 10px;
  }
}
#carList .card_cars .card_rates .rates div div .checkbox-round {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  margin-left: -5.3px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: 1px solid white;
}
@media (max-width: 768px) {
  #carList .card_cars .card_rates .rates div div .checkbox-round {
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
  }
}
#carList .card_cars .card_rates .rates div div .checkbox-round:checked {
  background-color: #B01313;
  border: 1px solid grey;
}
#carList .card_cars .card_rates .rates div label {
  font-family: "Rubik-Regular";
  font-weight: 600;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  #carList .card_cars .card_rates .rates div label {
    font-size: 10px;
  }
}
#carList .card_cars .card_rates .rates .rate-inclusions {
  color: #B01313;
  font-family: "Rubik-Regular";
  font-weight: 600;
  margin-bottom: 0;
  cursor: pointer;
  text-decoration: none;
}
#carList .card_cars .card_rates .rates .rate-price {
  font-family: "Rubik-SemiBold";
  font-weight: 600;
  font-size: 20px;
  color: #B01313;
}
#carList .card_cars .card_rates .rates .rate-price span {
  font-family: "Rubik-Light";
  margin-right: 10px;
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-Light.ttf");
}
.modal-content {
  padding: 20px;
  border-radius: 20px;
}
.modal-content .modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 0px;
}
.modal-content .modal-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.modal-content .modal-header div p {
  color: #B01313;
  font-family: "Rubik-Regular";
  font-weight: 600;
  margin-left: 20px;
  letter-spacing: 1px;
}
.modal-content .modal-header div button {
  border: none;
  line-height: 0;
}
.modal-content .modal-header div button span {
  font-weight: 600;
  font-size: 30px;
  color: lightgray;
  background-color: white;
}
.modal-content .modal-header .modal-title {
  font-family: "Rubik-Regular";
  font-weight: 600;
  opacity: 0.5;
  letter-spacing: 2px;
  margin-left: 20px;
}
.modal-content .modal-body {
  display: flex;
  flex-direction: column;
}
.modal-content .modal-body div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.modal-content .modal-body div p {
  font-family: "Rubik-Regular";
  font-size: 15px;
}
.modal-content .modal-body div svg {
  margin-right: 10px;
  color: #B01313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
